/* App.css */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.content {
  flex: 1;
}

.App h1 {
  font-size: 2rem;
}

.App p {
  font-size: 1.5rem;
  font-weight: bold;
}

.piano-container {
  width: 100%; /* Full width on all screens */
  height: 150px; /* Fixed height */
  margin: 0 auto; /* Centered for wider screens */
}

@media (min-width: 768px) {
  .piano-container {
    max-width: 600px; /* For web, limit the width to a typical mobile viewport width */
  }
}

@media (max-width: 767px) {
  .piano-container {
    width: 100%; /* Full width on mobile */
    height: 150px;
  }
}
